{% extends "layout.html" %}

{% block title %}
    Symptom Duration
{% endblock %}

{% block main %}
    <form action="/duration" method="post">
        <div class="form-group">
            <input class="form-control" name="principal" value="{{principal}}" type="hidden"/>
        </div>
        {% for i in range(55) %}
        <div class="form-group">
            <input type="hidden" class="form-control" name="{{i + 1}}" value="{{answers[i]}}">
        </div>
        {% endfor %}
        <label>Please fill out the questions regarding symptom duration.</label> <br>
        {% for i in range(56, 63) %}
            <br>
            <div class="form-group">
                <label>{{questions[i|string]}}</label> <br>
                <input type="radio" class="form-control" name="{{i}}" value="1">Yes<br>
                <input type="radio" class="form-control" name="{{i}}" value="0" checked>No<br>
            </div>
        {% endfor %}
        {% for i in range(63, 93) %}
        <div class="form-group">
            <input type="hidden" class="form-control" name="{{i}}" value="{{questions[i|string]}}">
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Next</button>
    </form>
{% endblock %}