{% extends "layout.html" %}

{% block title %}
    Symptom Context
{% endblock %}

{% block main %}
    <form action="/symptomContext" method="post">
        <div class="form-group">
            <input class="form-control" name="history" value="{{history}}" type="hidden"/>
        </div>
        {% for i in range(7) %}
        <div class="form-group">
            <input type="hidden" class="form-control" name="{{i + 1}}" value="{{answers[i]}}">
        </div>
        {% endfor %}
        <label>Please mark the following conditions that were present at the onset of your principal symptom.</label> <br>
        {% for i in range(8, 17) %}
            <br>
            <div class="form-group">
                <label>{{questions[i|string]}}</label> <br>
                <input type="radio" class="form-control" name="{{i}}" value="1">Yes<br>
                <input type="radio" class="form-control" name="{{i}}" value="0" checked>No<br>
            </div>
        {% endfor %}
        {% for i in range(17, 93) %}
        <div class="form-group">
            <input type="hidden" class="form-control" name="{{i}}" value="{{questions[i|string]}}">
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Next</button>
    </form>
{% endblock %}